# Exclude directories
.git/
docs/
scripts/
.gitattributes
.gitignore
.gitmodules
.clang-format
Taskfile.yml
*.md  # Excludes all markdown files, like README.md

# CMake
cmake/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
CTestTestfile.cmake
cmake-build-debug/