[submodule "tools/syfco"]
	path = tools/syfco
	url = https://github.com/reactive-systems/syfco.git
[submodule "tools/benchmarks"]
	path = tools/benchmarks
	url = https://github.com/SYNTCOMP/benchmarks.git
[submodule "tools/aiger-utilities"]
	path = tools/aiger-utilities
	url = https://github.com/arminbiere/aiger.git
