[submodule "scripts/benchmarks"]
	path = scripts/benchmarks
	url = https://github.com/SYNTCOMP/benchmarks.git
[submodule "scripts/mkplot"]
	path = scripts/mkplot
	url = https://github.com/eliyaoo32/mkplot-extended.git
[submodule "libs/abc"]
	path = libs/abc
	url = https://github.com/berkeley-abc/abc
[submodule "libs/spot"]
	path = libs/spot
	url = https://gitlab.lre.epita.fr/spot/spot.git
[submodule "scripts/syfco"]
	path = scripts/syfco
	url = https://github.com/reactive-systems/syfco.git
