[submodule "scripts/benchmarks"]
	path = scripts/benchmarks
	url = https://github.com/SYNTCOMP/benchmarks.git
[submodule "scripts/mkplot"]
	path = scripts/mkplot
	url = https://github.com/alexeyignatiev/mkplot.git
[submodule "libs/abc"]
	path = libs/abc
	url = https://github.com/berkeley-abc/abc
